/**/.idea/
/**/.env
/**/vendor/
/**/node_modules/
/**/composer.lock
/**/package-lock.json
/**/yarn.lock
/**/bower_components/
/**/docker/apache/logs/*
!/**/docker/apache/logs/.gitkeep
/**/docker/mysql/*
!/**/docker/mysql/.gitkeep
/**/docker/postgres/*
!/**/docker/postgres/.gitkeep
/**/storage/cache/*
!/**/storage/cache/.gitkeep
/**/storage/logs/*
!/**/storage/logs/.gitkeep
/**/public_html/uploads/*
!/**/public_html/uploads/.gitkeep
