/**/.DS_Store
/**/.idea/
/**/.env
!/**/.env.example
/**/vendor/
/**/node_modules/
/**/composer.lock
/**/package-lock.json
/**/yarn.lock
/**/*.code-workspace
/**/*.map
/**/.php_cs.cache
/**/.vscode/

# Docker
/**/docker/apache/logs/*
!/**/docker/apache/logs/.gitkeep
/**/docker/mysql/*
!/**/docker/mysql/config
!/**/docker/mysql/database/.gitkeep
/**/docker/postgres/*
!/**/docker/postgres/.gitkeep

# Application storage
/**/storage/cache/*
!/**/storage/cache/.gitkeep
/**/storage/logs/*
!/**/storage/logs/.gitkeep
/**/storage/sessions/*
!/**/storage/sessions/.gitkeep

# Public folder
/**/public_html/uploads/*
!/**/public_html/uploads/.gitkeep
