/* Bootstrap ^4.3.1 */
@import "web/bower_components/bootstrap/scss/bootstrap";

/* Fontawesome ^5.8.2 */
@import "/assets/web/bower_components/fontawesome/css/all.min.css";

/* Imports */
@import "fonts";
@import "helpers";

/* Welcome */
.vc-welcome {
  height: 100vh;
  background: url('/assets/web/images/background.jpeg') fixed no-repeat;
  background-size: cover;

  > header {
    background: rgba(#000000, .6);
    padding: 50px 0;
  }
}
