{% extends '@error/app.twig' %}
{% set error_title = 'Error 503 (Service Unavailable)' %}

{% block content %}
  <div class="error-404 error-405">
    <div class="content">
      <h1>{{ error_title|raw }}</h1>
      <p style="margin: 0;">Whoops!, estamos em manutenção</p>
    </div>
  </div>
{% endblock %}
